* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

:root {
  --primary: #042954;
  --secondary: #051f3e;
  --golden: #FFA301;
  --icngolden: #FFA301;
  --txtprimary: #aaaaaa;
  --txtblack: #000000;
  /* solidcolors */
  --red: #ff0000;
  --green: #3CB878;
  --blue: #3F7AFC;
  --orange: #ffa201;

  /* lightseries */
  --lightred: #4c1a1a;
  --lightblu: #0e293f;
  --lightgreen: #0b3b20;
  --lightorng: #472c10;

  /* darkmode  */
  /* --fdgrad: linear-gradient(120deg, rgb(30, 29, 29) 20%, rgba(19, 18, 18, 1) 80%); */
  --fdgrad: #121212;
  --bgdark: #222222;
  --font: "Roboto";
}

.bg-golden {
  background-color: var(--golden);
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--txtprimary);
}

ul li {
  background: var(--fdgrad);
  border-bottom: 1px solid rgba(88, 88, 88, 0.408);
}

/* utility */
.w-1 {
  width: 8.33%;
}

.w-2 {
  width: 16.66%;
}

.w-3 {
  width: 25%;
}

.w-4 {
  width: 33.33%;
}

.w-5 {
  width: 41.66%;
}

.w-6 {
  width: 50%;
}

.w-7 {
  width: 58.33%;
}

.w-8 {
  width: 66.66%;
}

.w-9 {
  width: 75%;
}

.w-10 {
  width: 83.33%;
}

.w-11 {
  width: 91.66%;
}

.w-12 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-end {
  justify-content: end;
}

.f-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.w-80px {
  width: 80px;
}

.ml-80px {
  margin-left: 80px;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.mt-1 {
  margin-top: 10px;
}

/* header starts  */
header {
  margin-left: 230px;
  background: var(--fdgrad);
  border: 0.1rem solid rgba(88, 88, 88, 0.274);
  color: var(--txtprimary);
  position: sticky;
  top: 0;
  transition: all linear 0.1s;
  z-index: 999;
}

.logo-img {
  height: 50px;
  width: 150px;
  padding: 6px;
}

.logo-img-main {
  height: 50px;
  width: 150px;
  padding: 6px;
}

header .search input {
  border: none;
  outline: none;
  padding: 5px;
  width: 150px;
  font-size: 1rem;
  background: transparent;
  color: var(--txtprimary);
}

header .search input::placeholder {
  font-size: 0.9rem;
}

.profile {
  gap: 24px;
  text-align: end;
  cursor: pointer;
  position: relative;
}

.h-right {
  gap: 20px;
}

.profile img {
  border-radius: 50px;
}

.user {
  position: relative;
}

.user::after {
  content: "\f0d7";
  font-family: fontAwesome;
  position: absolute;
  top: 0;
  right: -20%;
}

.admin-list {
  z-index: 1;
  position: absolute;
  top: 125%;
  right: 0%;
  display: none;
}

.admin-list h2 {
  text-align: start;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px;
  color: var(--txtblack);
  background-color: var(--golden);
}

.admin-list ul {
  background-color: var(--bgblack);
  color: var(--txtprimary);
}

.admin-list ul li {
  padding: 9px;
  text-align: start;
}

.admin-list i {
  margin-right: 10px;
}

.language {
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  gap: 8px;
}

.lang-list {
  position: absolute;
  top: 199%;
  right: 0%;
  display: none;
  background-color: var(--bgblack);
}

.lang-list ul li {
  padding: 9px;
  color: var(--txtprimary);
  text-align: start;
}

.btn {
  padding: 10px;
  background-color: var(--golden);
  color: var(--txtblack);
  font-weight: bold;
  border-radius: 10px;
}

.fa-earth-americas {
  color: orange;
}

/* aside starts  */
aside {
  height: 100vh;
  width: 230px;
  color: var(--txtprimary);
  position: fixed;
  top: 0;
  transition: all linear 0.1s;
  z-index: 99;
  border: 0.1px solid rgb(88, 88, 88);
}

.logo {
  background: var(--fdgrad);
  min-height: 60px;
  border-bottom: 1px solid rgba(88, 88, 88, 0.448);
}


.logo i {
  font-size: 25px;
  cursor: pointer;
}

.sidebar {
  height: 100vh;
  overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
  width: 3px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: var(--golden);
  border-radius: 25px;
}

.sidebar::-webkit-scrollbar-track {
  background-color: yellow;
}

.nav-list {
  position: relative;
  text-align: justify;
  padding: 12px 0px;
  font-size: 16px;
  letter-spacing: 1px;
}

.nav-list a {
  padding: 0 24px;
}

.nav-title {
  color: var(--txtprimary);
}

.nav-list a i {
  color: var(--icngolden);
  font-size: 22px;
}

.nav-list .drop {
  font-size: 15px;
  color: var(--txtprimary);
  position: absolute;
  top: 20px;
  right: 12px;
}

.dropdown {
  min-width: 100%;
  margin: 5px 0 0 0;
}

.dropdown li {
  padding: 8px 20px 8px 4rem;
  cursor: pointer;
  color: #f0f1f3;
}

.dropdown li::before {
  content: "\f054";
  font-family: fontAwesome;
  color: var(--txtprimary);
  font-size: 12px;
  margin: 5px;
}


.sm-tglr i {
  margin-right: 20px;
  color: var(--icngolden);
  font-size: 20px;
}


/* main starts */
main {
  margin-left: 230px;
  padding: 5px;
  background-color: var(--bgdark);
  color: var(--txtprimary);
}

.main-title {
  padding: 10px 0 0 22px;
}

.main-title h3 {
  font-size: 1.5rem;
}

.main-title p {
  padding: 10px 0;
}

.main-title span a {
  color: var(--golden);
}


.main-content h4 {
  font-size: 20px;
  font-weight: 400;
  margin: 6px 0;
  color: var(--txtprimary);
}

.main-content span {
  font-size: 18px;
}

.dashboard-students i,
.dashboard-teachers i,
.dashboard-parents i,
.dashboard-earnings i {
  font-size: 40px;
  padding: 18px;
  border-radius: 24%;
  /* flex-shrink: 5; */
  /* flex-grow: 0; */
  /* flex-basis: 50%; */
}

.dashboard-students i {
  color: var(--green);
  background-color: var(--lightgreen);
}

.dashboard-teachers i {
  color: var(--blue);
  background-color: var(--lightblu);
}


.dashboard-parents i {
  color: var(--orange);
  background-color: var(--lightorng);
}

.dashboard-earnings i {
  color: var(--red);
  background-color: var(--lightred);
}

/* grid system */
.main-content {
  margin: 10px 20px;
  display: grid;
  grid-column-gap: 22px;
  grid-row-gap: 22px;
}

.dashboard-students,
.dashboard-teachers,
.dashboard-parents,
.dashboard-earnings {
  text-align: center;
  padding: 24px 0;
}

.dashboard-students,
.dashboard-teachers,
.dashboard-parents,
.dashboard-earnings,
.earnings-graph,
.expenses-graph,
.students-graph,
.event-calender,
.notice-board,
.facebook-handle,
.twitter-handle,
.gplus-handle,
.branches,
.linkedin-handle {
  box-shadow: 0px 0px 23px 14px rgba(0, 0, 0, 0.1);
  background: var(--fdgrad);
  border: 2px solid rgba(88, 88, 88, 0.274);
  border-radius: 14px;
}

.branches {
  position: relative;
  /* background-color: #000000;
  background-image:
    radial-gradient(at 47% 33%, hsl(271.91, 99%, 54%) 0, transparent 59%),
    radial-gradient(at 82% 65%, hsl(88.65, 73%, 48%) 0, transparent 55%); */
}

.facebook-handle,
.twitter-handle,
.gplus-handle,
.linkedin-handle {
  text-align: center;
  padding: 20px;
}

#bchart {
  width: 100%;
  height: 100%;
}

.overlay p {
  color: var(--txtprimary);
  padding: 4px;
  font-weight: bold;
  font-size: 22px;
  position: absolute;
  left: 0%;
}

.notice-board {
  padding: 0 14px;
  color: var(--txtprimary);
}

.notice::-webkit-scrollbar {
  width: 3px;
}

.notice::-webkit-scrollbar-thumb {
  background-color: orange;
  border-radius: 1px;
}

.notice::-webkit-scrollbar-track {
  background-color: #ffe83d;
}

.notice {
  padding: 10px 0;
  height: 85%;
  overflow-y: scroll;
}

.notice-board h3 {
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0;
}

.notice-board p {
  font-size: 0.9rem;
  margin: 16px 0;
}


.notice-board span {
  font-size: 0.8rem;
}

.border-btm {
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}

.clr-green {
  background-color: var(--green);
}

.clr-red {
  background-color: var(--red);
}

.clr-blue {
  background-color: var(--blue);
}

.clr-orange {
  background-color: var(--orange);
}

/* 
.clr-green {
  background-color: var(--green);
} */

.notice-board .btn {
  padding: 4px 12px;
  border-radius: 25px;
}

.capsule {
  padding: 3px 5px;
  border-radius: 9px;
  color: var(--txtblack);
  font-weight: bold;
}

.btn-2 {
  border-bottom: 1px solid var(--txtprimary);
  margin-bottom: 20px;
}

.fa-brands {
  color: var(--golden);
  display: block;
  font-size: 2rem;
  margin: 10px 0;
}

/* calender js  */
.cal-container {
  width: 100%;
  height: 100%;
}

.calendar {
  width: 100%;
  height: 100%;
  border-radius: 14px;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
}

.month {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 23px 14px rgba(0, 0, 0, 0.1);
  /* background: var(--fdgrad); */
  border: 2px solid rgba(88, 88, 88, 0.274);
  border-radius: 14px;
}

.month i {
  font-size: 30px;
  cursor: pointer;
  padding: 20px;
  color: var(--icngolden);
}

.month h1 {
  font-size: 2rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: var(--txtprimary);
}

.month p {
  color: var(--txtprimary);
}

.weekdays {
  width: 100%;
  height: 12%;
  display: flex;
  align-items: center;
  color: var(--golden);
}

.weekdays div {
  font-size: 1.2rem;
  width: calc(100% / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days {
  display: flex;
  flex-wrap: wrap;
  color: var(--txtprimary);
}

.days div {
  font-size: 1.2rem;
  padding: 8px;
  width: calc(100% / 7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.days div:hover:not(.today) {
  cursor: pointer;
}

.prev-date,
.next-date {
  opacity: 0.3;
}

.today {
  background-color: var(--lightred);
  color: var(--golden);
  border-radius: 50px;
  font-weight: bolder;
}

.c {
  background-color: #000000;
  background-image:
    radial-gradient(at 47% 33%, hsl(271.91, 99%, 54%) 0, transparent 59%),
    radial-gradient(at 82% 65%, hsl(88.65, 73%, 48%) 0, transparent 55%);
}